.casilla {
    width: 22px;
    height: 22px;
    border: none;
    margin: 2px;
}

.m {
    width: 22px;
    height: 22px;
    background-color: red !important;
    border: none;
    margin: 2px;
}

.g {
    width: 22px;
    height: 22px;
    background-color: green !important;
    border: none;
    margin: 2px;
}